
body {
background-color: lightcyan;
margin: 20px;
}


ol {
  display: block;
  margin: auto;
}

.navigation ul {
  font: bold 11px;
  margin: 0;
  padding: 0;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: blue;
  border-right: 1px solid light-cyan;
  color: white;
  padding: 12px 20px;
}
.navigation a:hover {
  background: ;blue
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}
